*{
    top: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh
}
main{
    width:325px;
    background-color: #fff;
    height: 40%;
    border-radius: 5px;
    padding: 4px;
    box-shadow: 3px 5px 5px 5px  rgba(0,0,0,0.5);
}
#home{
   margin-top:30px;
   text-align: center; 
}
#home h1{
    color: blue;
}
#home p{
    margin-top: 45px;
    text-transform: capitalize;
}
#cbt{
    margin-top:30px;
    margin-left: 15px;
   /* text-align: center;  */
}
#time{
    text-align: end;
    margin-right: 20px;
    margin-bottom: 10px;
    font-size: 20px;
}
.butt button{
    width: 80px;
    padding: 5px;
    font-size: 16px;
    border: none;
    background-color: blue;
    border-radius: 5px;
    color: #fff;
     cursor: pointer;
     margin-top: 45px;
     box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.5);
}
.but-on{
    width: 90%;
    display: inline-flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 20px;
}
.but-on button{
    padding: 8px;
    border: none;
    cursor: pointer;
}
#sum{
    display: none;
}
.ans{
    margin: 5px;
    /* margin-top: 5px; */
}
.qu{
    margin-left: 2px;
    margin-bottom: 5px; 
}